@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

$font-size-base: 1em;

$font-size-lg: ($font-size-base * 1.35);
$font-size-sm: ($font-size-base * 0.95);
$font-size-xs: ($font-size-base / 1.25);

$font-family-base: 'Hubballi', sans-serif;