.word-lines {
    margin-bottom: 2em;
    .word-line {
        display: flex;
        &.selected {
            .word-letter:hover {
                cursor: pointer;
            }
        }
    }
}

.word-letter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray-500);
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    margin: 2px;
    font-size: 1.7em;
    line-height: 0;
    
    &.selected {
        background-color: var(--gray-300);
    }
    &.hot {
        background-color: $warning;
    }
    &.correct {
        background-color: $success;
    }
}

.alert {
    background-color: var(--gray-100);
    padding: 1em;
    border-radius: 5px;
    margin-top: 0;

    &.sucesso {
        background-color: $success;
    }
    &.derrota {
        background-color: $danger;
    }
    &.aviso {
        background-color: $warning;
    }
}

[theme="light"] {
    .word-letter.selected {
        background-color: var(--gray-400) !important;
    }
}
[theme="sepia"] {
    .word-letter.selected {
        background-color: var(--gray-400) !important;
    }
}
[theme="contrast"] {
    .word-letter.selected {
        background-color: $alt !important;
    }
}

@media only screen and (max-height: 900px) {
    .alert {
        margin-top: 20px;
    }
}
@media only screen and (max-height: 790px) {
    .alert {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-height: 750px) {
    .alert {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .word-lines {
        margin-bottom: 10px;
    }
}